.projectsflexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}

div.projectcontainer {
    background-color: #3388FF;
    border-radius: 25px;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 250px;
    margin: 20px;
}

.autoShowHide {
    text-overflow: ellipsis;
    overflow: hidden;
}

p.autoShowHide {
    width: auto;
}

div.projectcontainer:hover {
    white-space: normal;
    overflow: visible;
    cursor: pointer;
}

.pageheading {
    padding-left: 20px;
}