body {
  background-color: cornsilk;
  margin: 0;
}

.pageheading {
  padding-left: 20px;
}

mainheader h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.mainheader {
  background-color: crimson;
  padding: 0;
  position: sticky;
  top: 0;
}

ul.header li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  font-size: large;
  display: inline-block;
}

.btnlist {
  float: right;
}